.fondoItem{
    background-color: #FF111328;
    height: 500px;
    border-radius: 20px;
    color: white;
}

.resultado{
    color: #12BD45;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.estiloNumero{
    font-size: 80px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 45px;
}

.interpretacion{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}